#logo2	{
	width: 320px;
}

.navbar-nav {
	font-family: 'Teko', sans-serif;
	font-size: 30px;	
}

.nav-link {
	margin: 0px 30px;
}

.carousel-inner {
	/*height: 500px;*/	
}

.carousel-item img{
	max-width: 100%;
    height: auto;	
}

.container h3 {
	text-align: center;
}

.card img {
	width: 200px;
	margin: 20px;
}

.container h3 {
	font-family: 'Electrolize', sans-serif;
}

.cabecalho {
	display: block;
}

#rodape img{
	width: 150px;
}